<a href="https://colab.research.google.com/github/chrimerss/AlgorithmTrading/blob/main/MyProtofolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyfolio
!pip install yfinance
!pip install plotly

In [4]:
import numpy as np
import pandas as pd
#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

In [5]:
df_stickers= pd.read_csv('https://raw.githubusercontent.com/chrimerss/AlgorithmTrading/main/data/nasdaqlisted.txt', sep='|')

In [7]:
df_stickers.head()

,Symbol,Security Name,Market Category,Test Issue,Financial Status,Round Lot Size,ETF,NextShares
0,AACG,ATA Creativity Global - American Depositary Sh...,G,N,N,100.0,N,N
1,AACI,Armada Acquisition Corp. I - Common Stock,G,N,N,100.0,N,N
2,AACIU,Armada Acquisition Corp. I - Unit,G,N,N,100.0,N,N
3,AACIW,Armada Acquisition Corp. I - Warrant,G,N,N,100.0,N,N
4,AADI,"Aadi Bioscience, Inc. - Common Stock",S,N,N,100.0,N,N

In [24]:
today= pd.to_datetime('2022-04-18')

In [30]:
yf.download?

In [ ]:
df_prices= yf.download(df_stickers.Symbol.unique().tolist(),
                       periods='3mo', interval='1d',

[*****                 10%                       ]  587 of 5655 completed